# YOLOv5 requirements
# Usage: pip install -r requirements.txt

flask
# Base ------------------------------------------------------------------------
gitpython
matplotlib
numpy
opencv-python-headless
Pillow
psutil  
PyYAML
requests
scipy
thop
torch
torchvision
tqdm
ultralytics

# Logging ---------------------------------------------------------------------
# tensorboard>=2.4.1
# clearml>=1.2.0
# comet

# Plotting --------------------------------------------------------------------
pandas
seaborn


